table {
	border: 1px solid var(--dark-color);
	margin-bottom: 2rem;
	width: 100%;

	th, td {
		padding: 0.25rem;
	}

	thead {

		tr {

			th {
				background: var(--dark-color);
				color: white;
			}
		}
	}

	tbody {

		tr {

			&:nth-of-type(even) {
				background: var(--light-color);
			}

			td {
				vertical-align: middle;

				&.image {
					width: 80px;

					.image-wrap {
						width: 80px;
						height: 80px;

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							object-position: center center;
						}
					}
				}

				&.copy {
					padding: 0.25rem 0.5rem;

					p {

						strong {
							display: block;
						}
					}
				}

				&.action {
					width: 60px;
					text-align: center;
				}
			}
		}
	}
}