table {
	border: 1px solid var(--dark-color);
	margin: 1rem 0;
	width: 100%;

	th, td {
		padding: 0.25rem;
	}

	thead {

		tr {

			th {
				background: var(--dark-color);
				color: white;
			}
		}
	}

	tbody {

		tr {

			&:nth-of-type(even) {
				background: var(--light-color);
			}

			td {
				vertical-align: middle;

				&.image {
					width: 80px;

					.image-wrap {
						display: block;
						width: 80px;
						height: 80px;
						overflow: hidden;

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							object-position: center center;
							transition: $global-transition;
						}

						&:hover, &:focus {

							img {
								transform: scale(1.2);
							}
						}
					}
				}

				&.copy {
					padding: 0.25rem 0.5rem;

					p {

						a {
							display: block;
							font-weight: 600;
							text-decoration-color: transparent;
							color: inherit;
							transition: $global-transition;

							&:hover, &:focus, &:active {
								text-decoration-color: currentColor;
							}
						}
					}
				}

				&.action {
					width: 60px;
					text-align: center;
				}
			}
		}
	}
}