.site-footer {
	background: var(--secondary-color);
	color: white;
	padding: 1rem;

	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;

		ul {

			li {
				font-size: 0.75rem;

				a {
					padding-left: 0;
					text-decoration: underline;
					text-decoration-color: transparent;
					transition: $global-transition;

					&:hover,
					&:focus {
						text-decoration-color: currentColor;
					}
				}
			}
		}
	}
}