.site-header {
	background: var(--primary-color);
	color: white;
	box-shadow: 0 0 0.5rem var(--dark-color);
	position: relative;
	z-index: 10;

	.row {
		justify-content: space-between;
		align-items: center;
	}

	.logo {
		width: 100%;
		flex-basis: 100%;
		text-align: center;
		padding: 1rem 0;

		@include screen-above(md) {
			width: auto;
			flex-basis: auto;
			padding: 0;
			text-align: left;
		}

		a {
			display: block;
			font-family: var(--heading-font);
			font-weight: 400;
			font-size: 1.25rem;
			text-decoration: none;
			color: white;
			transition: $global-transition;

			&:hover, &:focus {
				text-shadow: 0 0 0.5rem white;
			}
		}
	}

	nav {
		width: 100%;

		@include screen-above(md) {
			width: auto;
			display: flex;
			align-items: center;
		}

		form, ul {
			width: 100%;
			flex-basis: 100%;
			display: flex;
			justify-content: center;

			@include screen-above(md) {
				width: auto;
				flex-basis: auto;
				justify-content: flex-end;
			}
		}

		form {
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			background: rgba(black, 0.1);
			border: 1px solid rgba(white, 0.5);

			input[type=search] {
				background: transparent;
				border: 0;
				padding: 0.5rem;
				border-radius: 0;
				color: white;
				font-family: var(--body-font);

				@include screen-above(md) {
					max-width: 200px;
				}

				&:focus {
					outline: none;
					box-shadow: none;
				}
			}

			button {
				background: transparent;
				color: rgba(white, 0.75);
				border: 0;
				border-radius: 0;
				appearance: none;
				padding: 0.5rem;
				cursor: pointer;

				i {
					transition: $global-transition;
					font-size: 1.25rem;
				}

				&:hover, &:focus {

					i {
						transform: scale(1.2);
					}
				}
			}

			&:focus-within {
				box-shadow: 0 0 0.25rem white;

				button {
					color: white;
				}
			}
		}

		ul {

			@include screen-above(md) {
				padding-left: 3rem;
			}

			li {

				a {
					display: block;
					padding: 1rem 0.5rem;

					&:hover,
					&:focus {
						background: rgba(255,255,255,0.2);
					}

					&.current-page {
						text-decoration: underline;
						background: rgba(255,255,255,0.2);
					}
				}
			}
		}
	}
}