.site-header {
	background: var(--primary-color);
	color: white;
	box-shadow: 0 0 0.5rem var(--dark-color);
	position: relative;
	z-index: 10;

	.row {
		justify-content: space-between;
		align-items: center;
	}

	.logo span {
		font-family: var(--heading-font);
		font-weight: 400;
		font-size: 1.25rem;
	}

	nav {
		display: flex;
		align-items: center;

		ul {
			padding-left: 3rem;

			li {

				a {
					display: block;
					padding: 1rem 0.5rem;

					&:hover,
					&:focus {
						background: rgba(255,255,255,0.2);
					}
				}
			}
		}
	}
}